@import url("https://fastly.jsdelivr.net/npm/galmuri@latest/dist/galmuri.css");

.trade-winds-regular {
  font-family: "Trade Winds", serif;
  font-weight: 400;
  font-style: normal;
}
* {
  font-family: "galmuri9", serif;
}
body {
  font-family: "Arial", sans-serif;
  background: linear-gradient(to bottom, #5e0000, #000000);
  color: #fff;
  text-align: center;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 38px;
  margin-bottom: 20px;

  font-family: "galmuri9", serif;
  color: rgb(196, 8, 8);
  animation: pulse 1s infinite alternate;
}
#game-setting {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 18px;
}

input[type="number"] {
  width: 80px;
  font-size: 18px;
  padding: 5px;
  margin: 10px;
  border: 2px solid #000000;
  border-radius: 5px;
  background-color: #121212;
  color: #fff;
  text-align: center;
}

button {
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 2px;
  background-color: #ff3434;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-bottom: 30px;
}

button:hover {
  background-color: #ff1a1a;
}

/* 상태 메시지 및 타이머 */
h2,
p {
  margin-top: 20px;
  font-size: 1.8rem;
}

/* 폭탄 이모지 스타일 */
#status {
  font-size: 20px;
  animation: pulse 1s infinite alternate;
  font-family: "galmuri9", serif;
}

#bomb_img {
  margin-left: 20px;
  width: 230px;
  animation: pulse 1s infinite alternate;
}

#timer {
  display: none;
}

/* 폭발 시 애니메이션 */
@keyframes pulse {
  from {
    transform: scale(1);
    color: #fff;
  }
  to {
    transform: scale(1.1);
    color: rgb(196, 8, 8);
  }
}
